//body
$bg_principal : #F1F3F5;
$bg_secondary : #EFEEEE;
$cwhite : #FFFFFF;

//Notifications
$cyellow : #FEDC63;
$cgreen : #AEE7A4;
$cred : #F7411A;
$cblue : #3A95FE;

//Colors
$red_collab : #CA4336;
$blue_laggon : #0C4A92;

//Blacks
$cblack_pure : #191919;
$cblack_250 : #3C3C3C;
$cblack_200 : #5A5A5A;
$cblack_150 : #747474;
$cblcak_100 : #D6D6D6;
$cblack_50 : #FCFCFC;

//menu 
$menu_bg : #262B28;
$menu_li : #A5AE9F;

//break point 
$layout-breakpoint-small: 768px;
//tablet
$layout-breakpoint-md: 769px;

//desktop
$layout-breakpoint-bg: 968px;
//min-width
$min-height: 580px;









