@use '@styles/_global.scss' as styles;

.checkAtom-container{
    width: 100%;
    display: flex;
    align-items: center;
   // grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;

    label{
        margin-right: 50px;
    }

    input{
        height: 25px;
        width: 25px;
       
    }
}