@use '@styles/_global.scss' as styles;

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: styles.$cblack_150;
    font-size: 1.2rem;
    color: styles.$cwhite;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    //left: 50%; se comenta por que descuadra la pantalla
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden; /* Ocultar el contenido que desborda */
    white-space: nowrap; /* Evitar que el tooltip se rompa en varias líneas */
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  

  @media (max-width: styles.$layout-breakpoint-small) {
    .tooltiptext {
      right: 35%;
    }
    
    &:hover .tooltiptext {
      left: auto;
      right: 35%;
      transform: translateX(0);
    }
  }
}
